{% extends "base.html" %}

{% block content %}
<h4>Iveskite nauja automobili</h4>
<form action="/automobilis/naujas" method="post">
    <p>Gamintojas:</p>
    <p><input type="text" name="gamintojaslaukelis"></p>
    <p>Modelis:</p>
    <p><input type="text" name="modelislaukelis"></p>
    <p>Spalva:</p>
    <p><input type="text" name="spalvalaukelis"></p>
    <p>Metai:</p>
    <p><input type="number" name="metailaukelis"></p>
    <p><input type="submit" value="issaugoti"></p>
</form>
{% endblock %}