{% extends "base.html" %}

{% block content %}
<h4>Automobiliu(Masinu) lentele</h4>
<form action="" method="get">
    <p><input type="text" name="searchlaukelis"></p>
    <p><input type="submit" value="filtruoti"></p>
</form>

<p><a href="/automobilis/naujas">Ivesti nauja automobili</a></p>
<table>
    <tr>
        <th>id</th>
        <th>Gamintojas</th>
        <th>Modelis</th>
        <th>Spalva</th>
        <th>Metai</th>
        <th>Veiksmai</th>
    </tr>
    {% for auto in autos %}
    <tr>
        <td>{{ auto.id }}</td>
        <td>{{ auto.gamintojas }}</td>
        <td>{{ auto.modelis }}</td>
        <td>{{ auto.spalva }}</td>
        <td>{{ auto.metai }}</td>
        <td><a href="/automobilis/{{ auto.id }}">ziureti</a>
            <a href="/automobilis/redaguoti/{{ auto.id }}">redaguoti</a>
            <form action="/automobilis/trynimas/{{ auto.id }}" method="post" style="display:inline;">
                <input type="submit" value="trinti">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<h4>Vidutiniai automobiliu metai: {{ average_year }}</h4>
{% endblock %}