{% extends "base.html" %}

{% block content %}
<h4>Automobilio {{ auto.gamintojas }} {{ auto.modelis }} redagavimas</h4>
<form action="" method="post">
    <p>Gamintojas:</p>
    <p><input type="text" value="{{ auto.gamintojas }}" name="gamintojaslaukelis"></p>
    <p>Modelis:</p>
    <p><input type="text" value="{{ auto.modelis }}" name="modelislaukelis"></p>
    <p>Spalva:</p>
    <p><input type="text" value="{{ auto.spalva }}" name="spalvalaukelis"></p>
    <p>Metai:</p>
    <p><input type="number" value="{{ auto.metai }}" name="metailaukelis"></p>
    <p><input type="submit" value="issaugoti"></p>
</form>
{% endblock %}